HTML body {
    padding-top: 30px;
    background-color: #f8f8f0;
}

.jumbotron {
    background-color: #434341;
}

p {
    color: #e5c89b;
}

h1 {
    color: #c3aa84;
}


/* cookie */

.cookie {
    padding-right: 20px;
    position: relative;
    width: 24rem;
    height: 24rem;
    border: 1rem solid #434342;
    border-radius: 50%;
    background-color: #e5c89c;
    box-shadow: inset 2rem -2rem rgba(0, 0, 0, 0.15);
    clip-path: circle(50% at 50% 50%);
}

.cookie_bite {
    position: absolute;
    right: -2rem;
    width: 8rem;
    height: 8rem;
    border: 1rem solid #434342;
    border-radius: 50%;
    background-color: #f8f8f0;
}

.cookie_dot {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #434342;
}

.cookie_dot:nth-of-type(1) {
    top: 10%;
    left: 50%;
}

.cookie_dot:nth-of-type(2) {
    top: 20%;
    left: 20%;
}

.cookie_dot:nth-of-type(3) {
    top: 40%;
    left: 70%;
}

.cookie_dot:nth-of-type(4) {
    top: 50%;
    left: 40%;
}

.cookie_dot:nth-of-type(5) {
    top: 70%;
    left: 20%;
}

.cookie_dot:nth-of-type(6) {
    top: 80%;
    left: 60%;
}


/*----------------------------------------
 end of cookie  
------------------------------------------*/


/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */

.roll-in-left {
    -webkit-animation: roll-in-left 1s ease-out backwards;
    animation: roll-in-left 2s ease-out backwards;
}

@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(1000px) rotate(40deg);
        transform: translateX(1000px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(540deg);
        opacity: 1;
    }
}

@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(1800px) rotate(540deg);
        transform: translateX(1800px) rotate(540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 50px;
    }
}


/* end of animation */